body{
    background-image: url(../images/tgbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(5px) ;
}

.wrapper{
    width: 700px;
    height: 100vh;
    margin: auto;
  background-image: url(../images/tgbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    border-right: 1px solid rgb(91, 154, 91);
    border-left: 1px solid rgb(91, 154, 91);
}


.telegram-box::before{
    content: "";
    position: absolute;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;    border-top: 18px solid transparent;
    border-bottom: 18px solid #77cf8cff;
    border-right: 18px solid transparent;
    bottom:0;
    right: -16px;

}