body{
    background-image: url(../images/tgbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(5px) ;
}

.wrapper{
    width: 700px;
    height: 100vh;
    margin: auto;
  background-image: url(../images/tgbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    border-right: 1px solid rgb(91, 154, 91);
    border-left: 1px solid rgb(91, 154, 91);
}


.telegram-box::before{
    content: "";
    position: absolute;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;    border-top: 18px solid transparent;
    border-bottom: 18px solid #77cf8cff;
    border-right: 18px solid transparent;
    bottom:0;
    right: -16px;

}



audio::-webkit-media-controls-panel {
    background-color: #77cf8cff;
    border: none;
}
audio{
    border: none;
}
audio::-webkit-media-controls-current-time-display , audio::-webkit-media-controls-time-remaining-display{
   color: green;
}
audio::-webkit-media-controls-timeline{
    color: white;
}
audio::-webkit-media-controls-volume-slider{
    color: green;
}
/*
Source - https://stackoverflow.com/a
Posted by methodofaction, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-16, License - CC BY-SA 2.5
*/

